<!DOCTYPE html>
<html>
<head>
    <title>Pedido de Lanche</title>
    <link rel="stylesheet" href="estilização/style.css">
</head>
<body>
    <div class="cabecalho">
        <img class="logo-img" src="imagens/removelogo.png" alt="Logo dev_res">
    </div>
    <button class="voltar-menu">Voltar</button>
    <div class="container">
        <button class="fechar-conta">Fechar Conta</button>
        <div class="card">
            <h2>Suco de laranja</h2>
            <p>Ingredientes: Laranja, Água (opcional), Açúcar (opcional).</p>
            <label class="observacoes" for="observacoes">Observações:</label>
            <textarea class="observacoes" id="observacoes" rows="1"></textarea>
            <button class="pedir">Pedir</button>
                <div class="circulo">
                    <img class="photo" src="imagens/suco de laranja.png">
            </div>
        </div>
    </div>
</body>
</html>