<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Pedido</title>
    <link rel="stylesheet" href="../pedidos/estilização/style.css" />
  </head>
  <body>
    <header>
      <button class="close-account">Fechar conta</button>
      <div class="logo"></div>
        <a href="../inicio.html"
          ><img class="logo-img" src="../img/Dev_res.png" alt="Logo dev_res"
        /></a>
      </div>
    </header>

    <main>
      <div  class="product-container">
        <div  class="image-placeholder"></div>
        <div class="product-details">
          <h2>Rodizio Completo</h2>
          <div class="quantity-control">
            <div>
              <button>+</button>
              <button>-</button>
            </div>
          </div>
          <div class="observation">
            <label for="observation">OBSERVAÇÃO:</label>
            <textarea id="observation" rows="3"></textarea>
          </div>
          <button class="order-button">PEDIR</button>
        </div>
      </div>
    </main>
  </body>
</html>
