<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/pedidos.css"
    <title>cozinha</title>
</head>
<body>
    <section class="pedidos">

        <div class="mesa01" style="width: 18rem;">
            <h5 class="pedido-tit text-center"> MESA 01 </h5>
            <p> Lanche Natural  2x </br>
                Suco de Laranja 2x
            </p>
        </div>
        <div class="mesa02" style="width: 18rem;">
            <h5 class="pedido-tit text-center"> MESA 02 </h5>
            <p> Lanche Natural  2x </br>
                Suco de Laranja 1x
            </p>
        </div>
        
        <div class="mesa03" style="width: 18rem;">
            <h5 class="pedido-tit text-center"> MESA 03 </h5>
            <p> 
                Petit Gateu 2x
            </p>
        </div>
        
        <div class="mesa04" style="width: 18rem;">

        </div>
        
        <div class="mesa05" style="width: 18rem;">

        </div>
        
        <div class="mesa06" style="width: 18rem;">

        </div>
        
        <div class="mesa07" style="width: 18rem;">

        </div>

    </section>
</body>
</html>