<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/inic.css">
    <title>DevResp+</title>
</head>

<body>
    <div class="barra-topo"></div>
    <img class="imagem" src="img/logo.png">
    <div class="botao-iniciar">
        <a href="./Menu/escolha-menu.html"><button class="atendimento"> Iniciar Atendimento </button></a>
    </div>



 <footer>
    <p class="dev-resp"> Desenvolvido por DevResp+ </p>
 </footer>
 </body>

</html>

  </body>
  </html>